<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />

    <title>2019 신한 해커톤 do-while 팀</title>

    <link rel="stylesheet" type="text/css" href="css/global.css">
    <link rel="stylesheet" type="text/css" href="css/detail.css">
  </head>
  <body>
    <header>
      <div class="logo-container"><img src="images/main_header_logo.svg" alt="" /></div>
      <div class="description">내가 아끼는 브랜드의 상품을 구매하고 <strong>주식 리워드</strong>를 받아보세요!</div>
    </header>

    <div class="container">
      <div class="left-container">
        <div class="item-name">삼성 QLED 8K 189 cm</div>
        <div class="item-code">상품코드: 2929204920429093</div>
        <div class="item-price">115,200원</div>

        <div class="item-thumbnail"><img src="images/list_item_hanssem.svg" alt="삼성 QLED 8K 189 cm" /></div>
        
        <hr class="option-upper-line" />

        <div class="item-option">
          <span class="option-title">옵션.</span>
          <select>
            <option selected>Red</option>
            <option>Green</option>
            <option>Blue</option>
          </select>
        </div>

        <hr class="option-bottom-line" />

        <div class="item-description">
          고급스러운 소가죽 바탕에 로고 레터링과 하트 참장식으로 포인트를 준 2단 반지갑입니다.
        </div>
      </div>
      <div class="right-container">
        <!-- TODO: -->
      </div>

      <div class="bottom-line"><img src="images/main_bottom_line.svg" alt="" /></div>
    </div>
  </body>
</html>
