<html>
  <head>
    <meta charset="utf-8" />
    <title>2019 신한 해커톤 do-while 팀</title>
    <link rel="stylesheet" type="text/css" href="css/global.css">
    <link rel="stylesheet" type="text/css" href="css/detail.css">
  </head>
  <body>
    <h1>Hello World</h1>
    <ul>
        <li>Store: <%= storeId %></li>
        <li>Stock: <%= stockId %></li>
    </ul>
  </body>
</html>
