<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />

    <title>2019 신한 해커톤 do-while 팀</title>

    <link rel="stylesheet" type="text/css" href="css/global.css">
    <link rel="stylesheet" type="text/css" href="css/detail.css">
  </head>
  <body>
    <header>
      <div class="logo-container"><img src="images/main_header_logo.svg" alt="" /></div>
      <div class="description">내가 아끼는 브랜드의 상품을 구매하고 <strong>주식 리워드</strong>를 받아보세요!</div>
    </header>

    <div class="container">
      <div class="left-container">
        <!-- TODO: -->  
      </div>
      <div class="right-container">
        <!-- TODO: -->
      </div>

      <div class="bottom-line"><img src="images/main_bottom_line.svg" alt="" /></div>
    </div>
  </body>
</html>
