<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />

    <title>2019 신한 해커톤 do-while 팀</title>

    <link rel="stylesheet" type="text/css" href="css/global.css">
    <link rel="stylesheet" type="text/css" href="css/detail.css">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <div class="logo-container"><img src="images/main_header_logo.svg" alt="" /></div>
      <div class="description">내가 아끼는 브랜드의 상품을 구매하고 <strong>주식 리워드</strong>를 받아보세요!</div>
    </header>

    <div class="container">
      <div class="left-container">
        <div class="item-name">삼성 QLED 8K 189 cm</div>
        <div class="item-code">상품코드: 2929204920429093</div>
        <div class="item-price">115,200원</div>

        <div class="item-thumbnail"><img src="images/list_item_hanssem.svg" alt="삼성 QLED 8K 189 cm" /></div>
        
        <hr class="option-upper-line" />

        <div class="item-option">
          <span class="option-title">옵션.</span>
          <select>
            <option selected>Red</option>
            <option>Green</option>
            <option>Blue</option>
          </select>
        </div>

        <hr class="option-bottom-line" />

        <div class="item-description">
          고급스러운 소가죽 바탕에 로고 레터링과 하트 참장식으로 포인트를 준 2단 반지갑입니다.
        </div>
      </div>

      <div class="right-container">
        <div class="sub-title">구매 혜택</div>

        <div class="reward-container">
          <div class="point-container">
            <img id="bg_point" src="images/bg_reward_off.svg" alt="" />
            <div class="title">포인트 받기</div>
            <div class="point">864,980포인트</div>
            <div class="description"><%= storeId %>에서만 이용 가능</div>
          </div>
          <div class="stock-container">
            <img id="bg_stock" src="images/bg_reward_stock_on.svg" alt="" />
            <div class="title">주식 받기</div>
            <!-- TODO: 예상 주식 다르게 표시 -->
            <div class="point">14.23주</div>
            <div class="description">(예상)</div>
            <img class="character" src="images/character.svg" alt="" />
            <!-- TODO: 받은 주식에 따라서 로고 다르게 표시 -->
            <img class="stock" src="images/ic_samsung.svg" alt="" />
          </div>
          <div class="notice-container">
            <img src="images/bg_notice.svg" alt="" />
            <div class="title">안내사항</div>
            <div class="description">* 주식을 받는 경우 실제 지급받으실 주식은 지급 예상 주식과 다를 수 있습니다.<br /><br />* 주식은 3영업일 내로 지급되며, 주식리워드 앱을 통해서 확인하실 수 있습니다.</div>
          </div>
        </div>

        <div class="sub-title card-sub-title">결제 수단</div>

        <div class="card-container">
          <div class="shinhan-container">
            <img id="card_shinhan" src="images/card_shinhan_on.svg" alt="신한카드" />
          </div>
          <div class="kb-container">
            <img id="card_kb" src="images/card_kb_off.svg" alt="국민카드" />
          </div>
        </div>

        <div class="footer">
          <!-- float: right 라서 순서를 반대로 함 -->
          <button class="purchase-button">구매하기</button>
          <span class="price">115,200원</span>
          <span class="title">총 결제금액</span>
        </div>
      </div>

      <div class="bottom-line"><img src="images/main_bottom_line.svg" alt="" /></div>
    </div>

    <input id="reward" type="hidden" name="is_reward_stock" value="1" />
    <input id="card" type="hidden" name="is_shinhan_card" value="1" />

    <script type="text/javascript">
      $(document).ready(() => {
        let $pointContainer = $('.point-container');
        let $stockContainer = $('.stock-container');
        // 리워드 toggle
        $pointContainer.click(() => {
          $('#bg_stock').attr('src', 'images/bg_reward_off.svg');
          $('#bg_point').attr('src', 'images/bg_reward_point_on.svg');
          $stockContainer.css('color', '#6d7278');
          $pointContainer.css('color', '#009ee8');

          $('#reward').val("0");
        });
        $stockContainer.click(() => {
          $('#bg_point').attr('src', 'images/bg_reward_off.svg');
          $('#bg_stock').attr('src', 'images/bg_reward_stock_on.svg');
          $pointContainer.css('color', '#6d7278');
          $stockContainer.css('color', '#009ee8');

          $('#reward').val("1");
        });

        // 결제수단 toggle
        $('.shinhan-container').click(() => {
          $('#card_kb').attr('src', 'images/card_kb_off.svg');
          $('#card_shinhan').attr('src', 'images/card_shinhan_on.svg');

          $('#card').val("1");
        });
        $('.kb-container').click(() => {
          $('#card_shinhan').attr('src', 'images/card_shinhan_off.svg');
          $('#card_kb').attr('src', 'images/card_kb_on.svg');

          $('#card').val("0");
        });
      });
    </script>
  </body>
</html>
