header {
	margin-top: 62px;
	text-align: center;
}

header .logo-container {
	text-align: center;
	margin: 0 auto;
}

header .description {
	color: #343a40;
	font-size: 16px;
	margin-top: 9px;
}

.container {
	width: 1120px;
	height: 720px;
	margin: 22px auto 0px auto;
	background-color: #fafafa;
	border: #979797 solid 1px;
}

.left-container {
  width: calc(340px - 1px);
  height: calc(100% - 8px);
  background-color: #ffffff;
  border-right: #979797 solid 1px;
  float: left;
}

.left-container .item-name {
  margin-top: 25px;
  margin-left: 25px;
  font-size: 22px;
  color: #343a40;
}

.left-container .item-code {
  margin-top: 2px;
  margin-left: 25px;
  font-size: 12px;
  color: #343a40;
}

.left-container .item-price {
  margin-top: 30px;
  margin-left: 25px;
  font-size: 30px;
  color: #343a40;
}

.left-container .item-thumbnail {
  margin: 40px 20px 80px 20px;
}

.left-container .option-upper-line {
  margin: 0 25px;
  border: none;
  border: 1.5px solid #6b6a6a;
}

.left-container .item-option {
  margin: 20px 25px;
}

.left-container .item-option .option-title {
  font-size: 14px;
  color: #343a40;
}

.left-container .item-option select {
  margin-left: 15px;
  width: 240px;
  height: 24px;
}

.left-container .option-bottom-line {
  margin: 0 25px;
  border: none;
  border: 1px solid #6b6a6a;
}

.left-container .item-description {
  margin: 30px 25px 0px 30px;
  font-size: 14px;
  color: #343a40;
}

.right-container {
  width: 780px;
  height: calc(100% - 8px);
  background-color: #fafafa;
  float: right;
}

.right-container .sub-title {
  margin-top: 25px;
  margin-left: 90px;
  font-size: 16px;
  color: #343a40;
  font-weight: bold;
  clear: both;
}

.right-container .reward-container {
  width: 600px;
  margin: 10px auto 0 auto;
}

.right-container .reward-container .point-container {
  float: left;
  width: 200px;
  color: #6d7278;
}

.right-container .reward-container .point-container img {
  position: relative;
  z-index: 0;
}

.right-container .reward-container .point-container .title {
  position: relative;
  z-index: 1;
  top: -269px;
  left: 21px;
  font-size: 16px;
}
.right-container .reward-container .point-container .point {
  position: relative;
  z-index: 1;
  top: -256px;
  left: 21px;
  font-size: 16px;
  font-weight: 500;
}
.right-container .reward-container .point-container .description {
  position: relative;
  z-index: 1;
  top: -236px;
  left: 21px;
  font-size: 12px;
}

.right-container .reward-container .stock-container {
  float: left;
  width: 200px;
  color: #009ee8;
}

.right-container .reward-container .stock-container img {
  position: relative;
  z-index: 0;
}

.right-container .reward-container .stock-container .title {
  position: relative;
  z-index: 1;
  top: -269px;
  left: 21px;
  font-size: 16px;
  font-weight: bold;
}
.right-container .reward-container .stock-container .point {
  position: relative;
  z-index: 1;
  top: -265px;
  left: 21px;
  font-size: 30px;
  font-weight: bold;
}
.right-container .reward-container .stock-container .description {
  position: relative;
  z-index: 1;
  top: -253px;
  left: 21px;
  font-size: 12px;
}
.right-container .reward-container .stock-container .character {
  position: relative;
  z-index: 1;
  top: -190px;
  left: 53px;
}
.right-container .reward-container .stock-container .stock {
  position: relative;
  z-index: 1;
  top: -313px;
  left: -8px;
}

.right-container .reward-container .notice-container {
  float: left;
  width: 200px;
  color: #343A40;
}

.right-container .reward-container .notice-container img {
  position: relative;
  z-index: 0;
}

.right-container .reward-container .notice-container .title {
  position: relative;
  z-index: 1;
  top: -269px;
  left: 21px;
  font-size: 16px;
  font-weight: bold;
}
.right-container .reward-container .notice-container .description {
  position: relative;
  z-index: 1;
  top: -255px;
  left: 26px;
  font-size: 14px;
  width: 154px;
  line-height: 1.5em;
}

.card-sub-title {
  position: relative;
  top: -165px;
}

.right-container .card-container {
  position: relative;
  top: -150px;
  height: 200px;
  width: 450px;
  margin: 0 auto;
}

.right-container .card-container .shinhan-container {
  float: left;
}
.right-container .card-container .kb-container {
  float: left;
  margin-left: 70px;
}

.right-container .footer {
  background-color: #505050;
  height: 56px;
  line-height: 56px;
  position: relative;
  top: -135px;
  clear: both;
}

.right-container .footer .title {
  float: right;
  color: white;
  font-size: 16px;
}

.right-container .footer .price {
  float: right;
  color: #4fc6fd;
  font-size: 24px;
  font-weight: 500;
  margin: 0 20px;
}

.right-container .footer .purchase-button {
  float: right;
  width: 240px;
  height: 40px;
  color: white;
  background: #009ee8;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  margin-top: 8px;
  margin-right: 20px;
}

.bottom-line {
  clear: both;
}
